<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Examen Template</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header class="hero">
        <div class="container">
            <h1>Eksamen</h1>
            <p>Eksamen Template</p>

        </div>

    </header>

    <section id="Template" class="section">
        <div class="container">
            <h2>Template</h2>
            <p>Template</p>
            <a href="Lim in lenke til hvor knappen skal ledes her" class="button" target="_blank">Template</a>
        </div>
    </section>

</body>

</html>